IndentWidth: 4
TabWidth: 4
SortIncludes: false
InsertNewlineAtEOF: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: false
  BeforeNonEmptyParentheses: false
  AfterPlacementOperator: false
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
SpaceBeforeRangeBasedForLoopColon: false
SpacesInParens: Never 
AlwaysBreakAfterReturnType: TopLevelDefinitions
BraceWrapping:
  AfterFunction: false
BreakBeforeBraces: Custom
AlwaysBreakTemplateDeclarations: Yes
